<footer class="text-center text-white pt-2 mt-3" style="background-color: #f1f1f1;">
  <div class="container">
    <div class="row" style="color: black;">
      <div class="col text-center align-middle">
        <h4 style="letter-spacing: 2px; text-transform: capitalize; margin-top: 20px;">
          Customer Services
        </h4>
        <ul style="list-style-type: none; margin: 0; padding: 0; text-align: center;">
          <li><a href="/about" style="text-decoration: none; cursor: pointer; color: black;">About Us</a></li>
          <li><a href="/faq" style="text-decoration: none; cursor: pointer; color: black;">FAQ</a></li>
          <li><a href="/t&c" style="text-decoration: none; cursor: pointer; color: black;">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="col text-center align-middle">
        <!-- Grid container -->
          <div class="container pt-1">
            <!-- Section: Social media -->
            <section>
              <!-- Twitter -->
              <!-- <h3 style="letter-spacing: 2px; text-transform: uppercase">
                Thank You for visiting
              </h3> -->
              <img src="/image/logo/Samaan_Mart-removebg-cropped.png" alt="SXC merch" width="250px"/>
              <br>
              <!-- Twitter -->
                <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
              
              <!-- Instagram -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="#!"
                role="button"
                data-mdb-ripple-color="dark"
                target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>

              <!-- Github -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="https://github.com/techaneesh/Samaan-Mart.git"
                role="button"
                data-mdb-ripple-color="dark"
                target="_blank"
                ><i class="fa fa-github"></i
              ></a>
              <!-- Google -->
              <a
                class="btn btn-link btn-floating btn-lg text-dark"
                href="mailto:webadmin@xaviers.edu"
                role="button"
                data-mdb-ripple-color="dark"
                target="_blank"
                ><i class="fa fa-envelope"></i
              ></a>
    
            </section>
          </div>
          <!-- Grid container -->
      </div>
  
      <div class="col text-center justify-content-center">
        <h4 style="letter-spacing: 2px; text-transform: capitalize; margin-top: 20px;">
          Connect With Us
        </h4>
        <ul style="list-style-type: none; margin: 0; padding: 0; text-align: center;">
          <li>WhatsApp Us: 70003 70003</li>
          <li><br></li>
          <li>Call Us: 1800 890 1222</li>
          <li>8:00 AM to 8:00 PM, 365 days</li>
        </ul>
              
      </div>
  
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center text-dark p-3 mt-2" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-dark" style="text-decoration: none;" href="https://samaan-mart.herokuapp.com/">Samaan-Mart</a>
  </div>
  <!-- Copyright -->
</footer>


<script src="/js/bundle.js"></script>
