<!DOCTYPE html>
    <%- include('partials/head') %> 
<body>
    
    <%- include('partials/navbar',{location:"home"}) %>
    <%- include('partials/scrollToTop')%>

    <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
      
      <h1 id="featured-stores-heading" class="mt-4 mb-3">About Us</h1>
      
      <div class="col text-center">
        <img src="https://dukandaronline.com/images/slider/vender.svg" alt="" class="p-3 px-5" alt="Image" style="width: 50%;">
      </div>
      
      <p style="text-align: justify; font-size: larger;">Samaan Mart is an online business listing platform, built with a vision to empower the small businesses around us by enabling them to have a strong digital presence. Our attempt is to connect these businesses with their prospective customers through the online medium so that they can cope up with the ongoing digital revolution.</p>

    </div>    

    <footer class="mt-5">
        <%- include('partials/footer') %>
    </footer>   
    <input type="hidden" id="proId">
    <input type="hidden" id="aid">
  <script>
    function fill(proId){
      document.getElementById("proId").value=proId;
    }
    function fill1(aid){
      document.getElementById("aid").value=aid;
    }
  </script>

</body>
</html>