<!DOCTYPE html>
  <%- include('partials/head') %> 
  <body style="background-color: white">
  

    <%- include('partials_agent/navbar',{location:"agent"}) %>  
    <div class="mx-5">
      <!-- <div class="d-flex align-items-center justify-content-center text-center" style="height: 70vh; font-size: 5vh;">
          Selling on Samaan-Mart has all kinds of tools to help operate your business. Providing you an online store with fresh ideas for a new way to serve your local shoppers. Choose the best package for you with the right features to grow your on-line business.
      </div> -->
      <div class="col align-items-center imgRow mx-4 px-5 text-center" >
        <img src="/image/logo/sosm.png" class="" alt="Image" style="width: 75%; border: 5px solid;">
      </div>

      <div class="row align-items-center imgRow  m-5 p-5 mb-2" style="margin-right: 0px!important;">
          
        
        <!-- text part  -->
        <div class="col-sm-6" style="padding-left: 45px;">
          <div>
            <h1>Take Orders Online</h1>
            <p>
              No Hardware Required! Start taking orders online from the get go and watch your sales increase like never before.
            </p>
          </div>
        </div>
        <!-- img part  -->
        <div class="col-sm-6 d-flex justify-content-center">
          <img
            class="img-fluid"
            src="https://dukandaronline.com/images/features/Online%20Point%20of%20Sale.svg"
            style="max-width: 80%; height: auto;margin-right: 30px;"
          />
        </div>

        
        <!-- img part  -->
      </div>
      <div class="row align-items-center imgRow  m-5 p-5 mb-2" style="margin-right: 0px!important;">
        
        <div class="col-sm-6 ">
          <img
            class="img-fluid"
            src="https://dukandaronline.com/images/features/Innovative%20Dashboard.svg"
            style="max-width: 80%; height: auto; margin-left: 30px;"
          />
          
        </div>
        <!-- img part  -->
        <div class="col-sm-6 d-flex justify-content-end ">
          <div>
            <h1>Analytical Dashboard</h1>
            <p>
              Keep a track of all your Online Business with Samaan Mart's Innovative Analytical Dashboard which helps you visualize your business performance.
            </p>
          </div>
        </div>
      </div>
    </div>



    <footer>
      <%- include('partials/footer') %>
    </footer>   
  </body>
</html>
