<!DOCTYPE html>
<%- include('partials/head') %> 
<body style="background-color: white">
    <% console.log(user) %>
    <%- include('partials'+user+'/navbar',{location:"-"}) %>     
    
    <div class="error">
        <div class="error__title">
            <h2 class="heading-secondary heading-secondary--error mt-5">
                Uh Oh! Something Went Wrong!
            </h2>
        </div>
        <div class="error__msg mt-2">
            <%=msg%>
        </div>
    </div>    
    
    <script src="/js/bundle.js"></script>
</body>
