<!DOCTYPE html>
    <%- include('partials/head') %> 
<body>
    
    <%- include('partials/navbar',{location:"home"}) %>
    <%- include('partials/scrollToTop')%>

    <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
      
      <h1 id="featured-stores-heading" class="mt-4 mb-3">Frequently Asked Questions</h1>

      <p style="text-align: justify; font-size: larger;"><strong>Why should I sell on Samaan Mart?</strong></p>
      <p style="text-align: justify; font-size: larger;">Samaan Mart provides your business a digital presence on its platform free of cost, which as a result translates to increased engagement and sales with the customers.</p>

      <p style="text-align: justify; font-size: larger;"><strong>How to start selling on Samaan Mart?</strong></p>
      <p style="text-align: justify; font-size: larger;">You can start selling your products online on Samaan Mart as soon as you complete the registratin process which generally takes less than 5 minutes.</p>

      <p style="text-align: justify; font-size: larger;"><strong>Does registering as a seller on Samaan Mart involve any charges?</strong></p>
      <p style="text-align: justify; font-size: larger;">Listing a business on Samaan Mart is completely free of cost and doesn't involve any charges whatsoever.</p>
      
      <p style="text-align: justify; font-size: larger;"><strong>Are there any hidden charges applicable on products selling on Samaan Mart?</strong></p>
      <p style="text-align: justify; font-size: larger;">Samaan Mart doesn't charge a single penny from the seller or the customer. All the charges are charged directly by the seller and are shown in detail in the final bill.</p>

      <p style="text-align: justify; font-size: larger;"><strong>How can we cancel an order on Samaan Mart?</strong></p>
      <p style="text-align: justify; font-size: larger;">Samaan Mart doesn't facilitate order cancellations as it can sometimes translate to major losses being incurred by the seller. Hence, you need to directly contact the seller in order to cancel your order (Seller Details can be found on the website).</p>

    </div>

    <footer class="mt-5">
        <%- include('partials/footer') %>
    </footer>   
    <input type="hidden" id="proId">
    <input type="hidden" id="aid">
  <script>
    function fill(proId){
      document.getElementById("proId").value=proId;
    }
    function fill1(aid){
      document.getElementById("aid").value=aid;
    }
  </script>

</body>
</html>